<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- <script src="https://kit.fontawesome.com/2d9b67a497.js" crossorigin="anonymous"></script> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="page-heading">
            <i class="fas fa-address-book"></i>
            My Contacts List
        </h1>

        <div id="content">
            <ul type="none">
                <% for(let i of contacts_List){%>    
                    <li class="list">
                        <div class="details">
                            <p> <%= i.name %> </p>
                            <p> <%= i.phone %> </p>
                        </div> 
                        <div class="delete-button">
                            <!-- <a href="/delete-contact/<%= i.phone %>">     OR-->
                            <a href="/delete-contact/?id=<%= i.id %>">
                                <i class="fas fa-window-close"></i>
                                <!-- delete -->
                            </a>
                        </div>
                    </li>    
                <% } %>
            </ul>
        </div>

        <form id="form" action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter Phone" required>
            <button id="button" type="submit">
                Add
            </button>

        </form>

        <script type="text/javascript" src="js/home.js"></script>
    </body>
</html>